<mat-card>

  <mat-toolbar color="primary">Deletar Cadastro</mat-toolbar>

  <mat-card-content>
     <form [formGroup]="form">
       <mat-form-field class="full-width">
         <input matInput placeholder="taxId" formControlName="taxId">
       </mat-form-field>

     </form>
   </mat-card-content>

   <mat-card-actions>
     <button mat-raised-button color="primary" (click)="onSubmit()">Deletar</button>
     <button mat-raised-button (click)="onCancel()">Cancelar</button>
   </mat-card-actions>

 </mat-card>
